@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your App.css or global CSS file */
body {
  background: 
    linear-gradient(45deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 100%),
    linear-gradient(45deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 100%);
  background-size: 50px 50px;
  position: relative;
}

.watermark-text {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}

.watermark-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}